*{
    background-image: url(../img/caminho-com-arvores.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    opacity: 0,5;
    margin: 0%;
    position: fixed;

}